<div class="mb-3">
  <label for="title" class="form-label">title</label>
  <input type="text" class="form-control" id="title" name="title" value="<%= model.title %>" required>
</div>
<div class="mb-3">
  <label for="author" class="form-label">author</label>
  <input type="text" class="form-control" id="author" name="author" value="<%= model.author %>">
</div>
<div class="mb-3">
  <label for="comments" class="form-label">comments</label>
  <textarea class="form-control" id="comments" name="comments" rows="3"><%= model.comments %></textarea>
</div>
