<%- include("_header") -%>
<h1>Add a Book</h1>
<form action="/books/add" method="post">
  <%- include("_editor") -%>
  <button type="submit" class="btn btn-success">Save</button>
  <a class="btn btn-secondary" href="/books">Cancel</a>
</form>
<%- include("_footer") -%>
